apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "agri-chart.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "agri-chart.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "agri-chart.name" . }}
      annotations:
        {{- toYaml .Values.podAnnotations | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 5000
            - containerPort: 8000
